# Gradle
**/build/
/.gradle/
/gradle.properties

# Eclipse files
.classpath
.project
.settings/
/bin/

# IntelliJ files
**/out/
.idea/
*.iml
*.ipr
*.iws

# NetBeans files
/target/
/.nb-gradle/
*.nb-gradle-properties

# actual files
.env
.gitconfig
/src/main/resources/PilotDB.sqlite

!.idea/